/*
 *       Sorting Visualizer by Gagan Bhatia
 *
 *       Github profile: GaganBhatia19
 * */

.rootAnchorPane {
    -fx-background-color: #0C2633;
}

.btns {
    -fx-border-color: #00D8FA;
    -fx-border-style: solid;
    -fx-text-fill: #00D8FA;
    -fx-padding: 15;
    -fx-border-radius: 10;
    -fx-border-width: 1.75;
}

.btns:hover {
    -fx-text-fill: #0C2633;
    -fx-background-radius: 10;
    -fx-background-color: #00D8FA;
}
.btns:pressed {
    -fx-border-color: #00c2e1;
    -fx-border-style: solid;
    -fx-background-color: #00c2e1;
    -fx-text-fill: #0C2633;
}

.slider .track {
    -fx-background-color: #243b47;
}
.slider .thumb {
    -fx-background-color: #00D8FA;
}

.chart-plot-background {
    -fx-background-color: #0C2633;
}

.labelSelected {
    -fx-text-fill: #00D8FA;
}

.labelText {
    -fx-text-fill: #fff;
}